.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.data-container {
  display: flex;
  flex-direction: column;
  background-color: #f4f4f4;
}

.event-dresscode-container {
  display: flex;
  justify-content: center; /* Espacio entre ambas secciones */
  align-items: stretch; /* Asegura que ambas secciones tengan la misma altura */
  gap: 35vh;
}

.event, .dresscode {
  flex: 1; /* Hace que ambas secciones ocupen el mismo ancho disponible */
  max-width: 500px; /* Establece un ancho máximo para las secciones, si es necesario */
}