.rsvp {
  padding: 80px 20px;
  background-color: #f4f4f4;
  text-align: center;
}

.rsvp h2 {
  color: var(--colorDorado);
}

.rsvp form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 400px;
  margin: 0 auto;
}

.rsvp input, .rsvp button {
  padding: 10px;
  border: 2px solid var(--colorDorado);
  border-radius: 5px;
}

.rsvp button {
  background-color: var(--colorDorado);
  color: white;
  cursor: pointer;
}

.rsvp button:hover, .rsvp input:hover {
  background-color: var(--colorVerdeMilitar);
  border: 2px solid var(--colorVerdeMilitar);
}

.rsvp h3 {
  color: var(--colorVerdeMilitar);
}

input[type="radio"] {
  margin: 0 10px;
}
