.hanger-icon {
    margin-bottom: 20px;
  }

.hanger-icon img {
    width: 4rem; /* Tamaño del ícono del parlante */
  }

  #dresscode {
    padding: 50px 20px;
    background-color: #f7f7f7;
    border-radius: 10px;
    position: relative;
    text-align: center;
  }  
  
  #dresscode h2 {
    font-size: 2rem;
    color: var(--colorDorado);
  }
  
  #dresscode p {
    font-size: 1.2rem;
    color: #555;
  }
  
  #dresscode::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0.1;
    z-index: -1;
    border-radius: 10px;
  }
  