.dresscode {
  padding: 4vh 0 4vh 0;
  position: relative;
  text-align: center;  
}  

.hanger-icon {
    margin-bottom: 2vh;
    height: 4.5rem;
    width: 4.5rem;
  }
  
  .dresscode h2 {
    font-size: 2rem;
    color: var(--colorDorado);
  }
  
  .dresscode p {
    font-size: 1.2rem;
    color: #555;
  }
  
  .dresscode::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0.1;
    z-index: -1;
    border-radius: 10px;
  }
  