.language-switcher {
    position: fixed;
    top: 10vh;
    right: 1.5vh;
    z-index: 110;
    display: flex;
    width: 18vh;
    height: 4vh;

    --font-color-dark: var(--colorDorado);
    --font-color-light: #FFF;
    --bg-color: #fff;
    --main-color: var(--colorDorado);
    background-color: var(--bg-color);
    border: 2px solid var(--main-color);
    border-radius: 34px;
    box-shadow: 4px 4px var(--main-color);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .language-switcher button {
    width: 47%;
    height: 80%;
    top: 2px;
    left: 2px;
    background-color: transparent;
    border: none;
    color: var(--colorDorado);
    font-size: 1rem;
    cursor: pointer;
    border-radius: 50px;    
  }
  
  .language-switcher button.active {
    background-color: var(--colorDorado);
    color: white;
  }
  
  @media (max-width: 768px) {
    /* Ocultar el selector de idioma en dispositivos móviles pequeños */
    .language-switcher {
      bottom: 10px;
      right: 10px;
      top: auto;
    }
  
    .language-switcher button {
      font-size: 0.8rem;
      padding: 5px;
    }
  }
  