.presents {
    text-align: center;
    padding: 5vh 0;
    background-color: rgba(255, 255, 255, 0.8); /* Fondo suave */
}

.presents-content {
    display: inline-block;
    max-width: 600px;
    margin: 0 auto;
}

.gift-icon {
    width: 100px;
    height: 100px;
    margin-bottom: 20px;
}

.gift-icons {
    display: flex;
    justify-content: center; /* Centra los íconos horizontalmente */
    gap: 20px; /* Añade espacio entre los íconos */
    flex-wrap: wrap; /* Hace que los íconos se muevan a la siguiente línea si no caben */
}

.gift-icon {
    width: 50px; /* Ajusta el tamaño de los íconos */
    height: auto; /* Mantiene la proporción */
    cursor: pointer; /* Añade un cursor de mano si es interactivo */
}

.gift-icon:hover {
    transform: scale(1.1); /* Añade un pequeño efecto de zoom al pasar el cursor */
}

.info-button {
    background-color: var(--colorDorado);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin: 2rem;
}

.info-button:hover {
    background-color: var(--colorVerdeMilitar);
}

/* Modal Styles */
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999;
}

.modal-content {
    white-space: pre-line;
    background-color: white;
    padding: 4vh;
    border-radius: 5%;
    text-align: center;
    max-width: 55vh;
}
    
.modal-info {
    font-size: 2.2vh;
    color: black;
    margin: 4vh;
}

.modal-warning {
    font-size: 1.5vh;
    color: grey;
    margin: 1vh;
}
  
.close-button {
    background-color: var(--colorDorado);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 10%;
    cursor: pointer;
    margin-top: 2vh;
}
  
.close-button:hover {
    background-color: var(--colorVerdeMilitar);
}
  

/* Pantallas medianas (720p) */
@media (max-width: 1280px) {
    .presents-content {
      max-width: 650px;
    }
  
    .gift-icon {
      width: 60px; /* Ajusta el tamaño de los íconos */
    }
  
    .modal-content {
      max-width: 50vh;
    }
  
    .modal-info {
      font-size: 2vh;
    }
  
    .modal-warning {
      font-size: 1.6vh;
    }
}


/* Pantallas móviles (por debajo de 768px de ancho) */
@media (max-width: 768px) {
    .presents-content {
      max-width: 90%;
    }
  
    .gift-icons {
      flex-direction: column; /* Coloca los íconos en una columna */
      gap: 10px; /* Reduce el espacio entre los íconos */
    }
  
    .gift-icon {
      width: 40px; /* Ajusta el tamaño de los íconos para móviles */
    }
  
    .info-button {
      font-size: 0.9rem;
      padding: 8px 15px;
    }
  
    .modal-content {
      max-width: 90%;
    }
  
    .modal-info {
      font-size: 1.8vh;
    }
  
    .modal-warning {
      font-size: 1.2vh;
    }
  
    .close-button {
      padding: 8px 15px;
    }
}
  

/* Pantallas extra pequeñas (por debajo de 480px de ancho) */
@media (max-width: 480px) {
    .gift-icon {
      width: 30px; /* Ajusta los íconos a un tamaño muy pequeño */
    }
    
    .modal-content {
        padding: 1vh;
    }

    .info-button {
      font-size: 0.8rem;
      padding: 6px 10px;
    }
  
    .modal-info {
      font-size: 1.6vh;
    }
  
    .modal-warning {
      font-size: 1vh;
    }
}
  