/* Los elementos se ocultan inicialmente y están desplazados */
.story-item.hidden {
  opacity: 0;
  transform: translateY(50px); /* Desplaza hacia abajo los elementos inicialmente */
  transition: opacity 0.6s ease-out, transform 0.6s ease-out; /* Anima opacidad y posición */
}

/* Cuando aparecen, vuelven a su posición original y su opacidad es 100% */
.story-item.appear {
  opacity: 1;
  transform: translateY(0); /* Regresa a su posición original */
}

/* Mantiene la estructura original de .story-item */
.story-item {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 5vh;
  background-color: rgba(148, 147, 87, 0.315);
  transition: opacity 0.6s, transform 0.6s; /* Anima opacidad y desplazamiento */
}

.story-item img {
  width: 30%;
  border-radius: 5%;
  object-fit: cover;
}

/* Aplica flexbox a cada columna de la story-item */
.story-item p {
  white-space: pre-line;
  width: 50%; /* Hace que el texto ocupe todo el ancho disponible */
  font-size: 2rem;
  color: var(--colorVerdeMilitar);
  padding: 0 10px; /* Añade algo de espacio en los lados del texto */
}

.image-left img {
  margin-right: 20px;
}

.image-right img {
  margin-left: 20px;
}

.image-left {
  flex-direction: row;
}

.image-right {
  flex-direction: row-reverse;
}

.footContainer1 {
  position: absolute;
  top: 111vh;
  left: 65vh;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 20;
}

.footPrints1 {
  position: relative;
  height: 26vh;
  transform: scaleX(-1) rotate(18deg) translate(50%, 50%);
}

.footContainer2 {
  position: absolute;
  top: 237vh;
  left: 59vh;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 20;
}

.footPrints2 {
  position: relative;
    height: 26vh;
    transform: rotate(15deg) translate(-50%, 50%);
}